##### step 1. load the iris.csv dataset.

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [1]:
# importing the required libraries

import pandas as pd

In [2]:
# creating a dataframe and reading the csv file using location

df = pd.read_csv(r'C:\Users\shanmukha varma\OneDrive\Desktop\New_iris_dataset\Iris.csv')

In [3]:
# display the created dataframe

df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
# dataframe .info() gives you the dtypes and null count of the dataframe 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [7]:
# gives you the SepalLengthCm total sum value

df['SepalLengthCm'].sum()

876.5

In [8]:
# # gives you the SepalLengthCm mean value

df['SepalLengthCm'].mean()

5.843333333333334

In [9]:
# gives you the SepalLengthCm max value

df['SepalLengthCm'].max()

7.9

In [10]:
# gives you the SepalLengthCm min value


df['SepalLengthCm'].min()

4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [5]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [12]:
print("\nAfter skipping first_20 rows of the said DataFrame:")
df = df.iloc[20:] # this line using iloc skipping the first 20 rows data
print(df)

After skipping first_20 rows of the said DataFrame:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
20    21            5.4           3.4            1.7           0.2
21    22            5.1           3.7            1.5           0.4
22    23            4.6           3.6            1.0           0.2
23    24            5.1           3.3            1.7           0.5
24    25            4.8           3.4            1.9           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
20      Iris-setosa
21      Iris-setosa
22      Iris-setosa
23      Iris-setosa
24      Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[130 rows x 6 columns]

##### 4. Write a Pandas program to display the last ten rows.

In [14]:
df.tail(10)
# tail is used to display the last rows in the dataframe

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [15]:
### code here
v = df.groupby("Species")

In [16]:
v.groups # in speices we have different data

{'Iris-setosa': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 'Iris-versicolor': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 'Iris-virginica': [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]}

In [17]:
A=v.get_group("Iris-setosa")
B=v.get_group("Iris-versicolor")
c=v.get_group("Iris-virginica")
print("Iris-virginica:",c["PetalLengthCm"].sum())
print("Iris-versicolor:",B["PetalLengthCm"].sum())
print("Iris-setosa:",A["PetalLengthCm"].sum())

Iris-virginica: 277.6
Iris-versicolor: 212.99999999999997
Iris-setosa: 44.5

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [7]:
# displaying the petallengthcm > 2 in dataframe

df.loc[(df["PetalLengthCm"]>2)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [8]:
# here i have included two specific species from speices section and display all the records within the two specific speices

df[(df['Species'] == "Iris-versicolor") | (df['Species'] == "Iris-setosa")]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [21]:
# sorting the values SepalLengthCm in dataframe

df.sort_values("SepalLengthCm")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
47,48,4.6,3.2,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
135,136,7.7,3.0,6.1,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [22]:
# here id has position of 0 and the new coulmn "added_col " comes after species

df["added_col"]="Nan"
df

C:\Users\shanmukha varma\AppData\Local\Temp\ipykernel_21552\2041727407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["added_col"]="Nan"

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,added_col
20,21,5.4,3.4,1.7,0.2,Iris-setosa,Nan
21,22,5.1,3.7,1.5,0.4,Iris-setosa,Nan
22,23,4.6,3.6,1.0,0.2,Iris-setosa,Nan
23,24,5.1,3.3,1.7,0.5,Iris-setosa,Nan
24,25,4.8,3.4,1.9,0.2,Iris-setosa,Nan
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,Nan
146,147,6.3,2.5,5.0,1.9,Iris-virginica,Nan
147,148,6.5,3.0,5.2,2.0,Iris-virginica,Nan
148,149,6.2,3.4,5.4,2.3,Iris-virginica,Nan
149,150,5.9,3.0,5.1,1.8,Iris-virginica,Nan

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [24]:
df.sum(axis=0) #axis=0 represents rows and axis=1 represents columns

Id                                                           11115
SepalLengthCm                                                775.8
SepalWidthCm                                                 388.5
PetalLengthCm                                                535.1
PetalWidthCm                                                 175.1
Species          Iris-setosaIris-setosaIris-setosaIris-setosaIr...
added_col        NanNanNanNanNanNanNanNanNanNanNanNanNanNanNanN...
dtype: object

In [25]:
x=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]].sum()
x

SepalLengthCm    775.8
SepalWidthCm     388.5
PetalLengthCm    535.1
PetalWidthCm     175.1
dtype: float64